---
layout: default
---
<section class="py-5">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{page.imageUrl | relative_url }}" alt="{{ page.title }}" /></div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">{{page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>
                <div class="fs-5 mb-2">
                    <span>by {{page.author}}</span>
                </div>
                <div class="">
                    <span class=""><strong>Engineering Pillar:</strong> {{ page.pillars | join: ', ' }}</span>
                </div>
                <div class="">
                    <span class=""><strong>Audiences:</strong> {{ page.audiences | join: ', ' }}</span>
                </div>
                <div class="">
                    <span class=""><strong>Topics:</strong> {{ page.topics | join: ', ' }}</span>
                </div>
                {% for tag in page.tags %}
                <span class="badge bg-primary">
                    {{ tag | replace:'-', ' ' }}     
                </span>
                {% endfor %}
                <p class="lead">
                    {{content}}
                </p>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 mt-5">
            <div class="col-md-12">
                <h4>You may also enjoy</h4>
                <div class="row row-cols-1 row-cols-md-4 g-4">
                    
                {% assign maxRelated = 4 %}
                {% assign minCommonTags =  1 %}
                {% assign maxRelatedCounter = 0 %}
                
                {% for book in site.books %}
                
                    {% assign sameTagCount = 0 %}
                    {% assign commonTags = '' %}
                
                    {% for pillar in book.pillars %}
                      {% if book.url != page.url %}
                        {% if page.pillars contains pillar %}
                          {% assign sameTagCount = sameTagCount | plus: 1 %}
                          {% capture tagmarkup %} <span class="label label-default">{{ pillar }}</span> {% endcapture %}
                          {% assign commonTags = commonTags | append: tagmarkup %}
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                
                    {% if sameTagCount >= minCommonTags %}
                
                    <div class="col">
                      <div class="card">
                        <img src="{{book.imageUrl | relative_url }}" class="card-img-top" alt="{{ book.title}}">
                        <div class="card-body">
                          <h5 class="card-title">{{ book.title }}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">{{ book.author }}</h6>
                          <p class="card-text">{{ book.excerpt | truncatewords: 20 }}.</p>                        
                        </div>
                        <div class="card-footer">
                            <a href="{{ book.url | relative_url }}" class="card-link">Read more</a>
                        </div>
                      </div>
                    </div>
                      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
                      {% if maxRelatedCounter >= maxRelated %}
                        {% break %}
                      {% endif %}
                    {% endif %}
                
                  {% endfor %}
                </div>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 mt-5">
            <div class="col-md-12">
                {% if jekyll.environment == 'production' and site.comments.provider and page.comments %}
                {% include comments.html %}
                {% endif %}  
            </div>
        </div>
    </div>
</section>


