<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <script src="https://cdn.jsdelivr.net/npm/itemsjs@1.0.49/dist/itemsjs.min.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
 
</head>

<body >
  <div id="el">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" v-on:click="reset()">ItemsJS movies</a>
        </div>
        <div id="navbar">
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" v-model="query" class="form-control" placeholder="Search">
            </div>
          </form>
        </div>
        <!--/.nav-collapse -->
      </div>
    </nav>
    <section>
      {{ content }}
    </section>
  </div>
  <footer>
    &copy; to me
  </footer>
  <script src="search.js"></script>
</body>

</html>